@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
$red-color : #E65C43;
$white: #FFF;
$gray: #666;
$bodyFont: 'Roboto';
$backgroundImg: '/images/bg.gif';
$logo: '/images/logo.png';
$socialMediaImg: '/images/social-media.png';
$graybarBackground:#F5F6F6;
$headlineBackground: #F25C43;